# Alles ignorieren
/*

# Nur das hier behalten
!.gitignore
!README.md
!docs/
!kubejs/
!config/
!defaultconfigs/
!manifest.json
!minecraftinstance.json

# Innerhalb davon Unerwünschtes wieder ausschließen
config/essential/
config/xaero/
kubejs/exported/
kubejs/probe/
config/easy_npc/skin/
minecraftinstance.json
