#Client Dialog Configuration
#
#typewriterEnabled: Reveal dialog text character by character (default: true)
#typewriterCharsPerSecond: Number of characters revealed per second (default: 40)
#Wed Sep 30 16:30:13 CEST 2026
typewriterCharsPerSecond=40
typewriterEnabled=true
